/* General styles for the Todo List container */
.todo-list {
  max-width: 600px;
  margin: 100px auto;
  padding: 20px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/* Styles for each Todo item */
.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin: 10px 0;
  background-color: white;
  border: 2px solid cornflowerblue;
  border-radius: 8px;
  transition: transform 0.2s;
  transform: perspective(1px) translateZ(0); /* counteract weird blur */ 
  backface-visibility: hidden;
}

.todo-item:hover {
  transform: scale(1.02);
}

/* Styles for the checkbox */
.todo-item input[type="checkbox"] {
  margin-right: 15px;
  width: 20px;
  height: 20px;
}

/* Styles for the task text */
p {
  flex: 1;
  margin: 0;
  padding: 0;
  font-size: 1.1em;
  color: #5a5a5a;
}

/* Styles for completed tasks */
.todo-item p.completed {
  text-decoration: line-through;
  color: #999;
}

/* Styles for the delete button */
.todo-item > button {
  background-color: #e57373;
  border: none;
  color: #fff;
  padding: 7px 12px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.2s;
}

.todo-item > button:hover {
  background-color: #ef5350;
}

@keyframes slideIn {
  from {
    transform: translateX(-30%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.todo-item {
  animation: slideIn 0.6s forwards;
}






/* Styles for the input field */
.todo-list input[type="text"] {
  width: calc(30% - 20px);
  height: 35px;
  border: 2px solid cornflowerblue;
  background-color: white;
  border-radius: 8px;
  margin-right: 10px;
  padding: 5px;
  font-size: 1em;
  transition: border-color 0.2s;
}

/* Styles for the add button */
.todo-list > button {
  padding: 10px 15px;
  margin-left: 10px;
  background-color: #ef5350;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 8px;
  font-size: 1em;
  transition: background-color 0.2s, transform 0.2s;
}

.todo-list > button:hover {
  background-color: red;
  transform: scale(1.05);
}

.add {
  background: linear-gradient(to right, #f5009b, #25baff);
}

/* Add a subtle background gradient */
body {
  background: linear-gradient(to right, #65009b, #25baff);
  font-family: 'Arial', sans-serif;
}

h3 {
  margin-top: 4px;
}

.title {
  margin-bottom: 4px;
}


